.mainsetpass {
    padding: 3%;
    width: fit-content;
    border-radius: 10px;
    border-style: groove;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50%;
}

.badgecontentcss {
    background-color: forestgreen;
    padding: 6%;
    top: 39%;
    right: 47%;
    display: flex;
    justify-content: center;
}